:root {
    --bg1: rgb(28, 28, 28);
    --bg1alpha: rgb(28, 28, 28, 0.86);
    --bg1alpha2: rgb(28, 28, 28, 0.96);
    --bg2: rgb(22, 22, 22);
    --bgheader: rgb(34, 34, 34);
    --bgheader_border: rgb(41, 41, 41);
    --bgheader_divider: rgb(61, 61, 61);
    --bgsearchbox: rgb(19, 19, 19);
    --bgcontrol: rgb(40, 40, 40);
    --bgcontrol_alpha: rgba(40, 40, 40, 0.5);
    --bgcontrol_selected: rgb(150, 150, 150);
    --bgcontrol_hover: rgb(60, 60, 60);
    --bgcontrol_border: rgb(61, 61, 61);
    --bgpin_button: rgb(40, 40, 40);
    --bgpin_button_alpha: rgba(40, 40, 40, 0.75);
    --bgfooter_button: rgb(34, 34, 34);
    --bgfooter_button_hover: rgb(44, 44, 44);
    --text0: #ddd;
    --text1: #ccc;
    --text2: #999;
    --text3: #666;
    --scrollbar_bg: rgb(32, 32, 32);
    --scrollbar_thumb: rgba(128, 128, 128);
    --scrollbar_corner: rgba(28, 28, 28);
    --pincontrol: rgb(33, 33, 33);
    --pincontrol_hover: rgb(33, 33, 33, 0.85);
    --input_border: rgb(44, 44, 44);
    --input_border_hover: rgb(51, 51, 51);
    --input_border_focus: rgb(88, 88, 88)
}

body,
html {
    background-color: var(--bg1) !important;
    color: var(--text2) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #fff !important
}

.qJc,
[style*="z-index: 2; background-color: white;"] {
    background-color: var(--bgheader) !important
}

.CreatorHeaderSticky,
.INd [style*="background-color: rgb(239, 239, 239)"],
.SearchPage .qJc,
.UserProfileContent [style*=background-color],
[data-test-id=login] [style*="background-color: rgb(255, 255, 255)"],
[style*="fixed; width: 100%; z-index: 3; background-color: rgb(255, 255, 255)"] {
    background-color: var(--bg1) !important
}

.fixedHeader {
    background-color: var(--bg1alpha) !important
}

.uNu {
    border-top: 1px solid !important
}

.AggregatedCloseupCard .pinActivityContainer a,
.CloseupTitleCard *,
.ExpandingTextArea__enabled,
.LegoGestalt_Font[style*="color:#333"],
.SearchBoxInput,
.SearchBoxInputExperimental,
.Typeahead .sendToEmail .title,
.pBj,
.pinActivityContainer .underlineLink span,
.pinHashtag,
.sharePrompt,
.tipWrapper>span,
[data-test-id=canonical-comments-header] *,
[data-test-id^=creator-profile]>[style*="color: rgb(51, 51, 51)"],
[style*="color: rgb(51, 51, 51)"],
h3[style*=color] {
    color: var(--text1) !important
}

.AggregatedCloseupCard .pinActivityContainer *,
.AggregatedCloseupCard .pinActivityContainer .pinActivity .userActivity a,
.Typeahead .socialConnect .title,
.Typeahead.userSelect .typeaheadName,
.pinWrapper .pBj,
a {
    color: var(--text2) !important
}

.B9u,
.SearchBoxInputExperimental[value=""] {
    color: var(--text3) !important
}

.Closeup [style*=linear-gradient],
.Closeup~* .qJc,
.SearchImprovementsBar-OuterScrollContainer,
.reactCloseupScrollContainer>[style*=background-color] {
    background: var(--bg1) !important
}

.closeupContainer [style*="box-shadow: rgb(238, 238, 238) 0px 4px 4px"] {
    box-shadow: rgba(0, 0, 0, .2) 0 4px 4px !important;
    box-shadow: none !important
}

.BackButtonShowShadow [data-test-id=lego-icon-wrapper],
.BusinessProfileTabItem.Selected,
.ConversationHeader .convosHeader,
.LegoGestalt_IconButton [style*="background-color: rgb(255, 255, 255)"],
.LegoGestalt_IconButton [style*="background-color: rgba(255, 255, 255, 0.9)"],
.Modal .formFooter,
.PinBetterSave__Dropdown,
.ReactModal__Content .formFooter,
.SendObjectBase,
.TiltedPinSourceLink,
.Typeahead,
.boardLinkWrapper [style*="background-color: rgb(239, 239, 239)"],
.browserButtonUpsellModal,
.emptyBoard .emptyPinWrapper,
.gpV,
.inModal .standardForm,
.item [style*="background-color: rgb(239, 239, 239)"],
.miniPinGridItem,
.modalStyle .standardForm,
.qJc [style*="background-color: rgb(239, 239, 239)"],
.reactConversationWindow,
[data-test-id=flashlight-button][style*="background-color: rgb(255, 255, 255)"],
[data-test-id=login][style*=background-color],
[data-test-id=pinrep-source-link][style*="background-color: rgb"],
[data-test-id=secretBoardIcon]>.gfP,
[data-test-id=signup][style*=background-color],
[data-test-id^=pin-builder] button[style*="background-color:#efefef"],
[data-tutorial-id=pin-builder-empty-view]>[style*="background-color:#efefef"],
button [style*="background-color: rgb(239, 239, 239)"],
button.lightGrey,
button>div[style*=background-color] {
    background-color: var(--bgcontrol) !important
}

.BackButtonHideShadow [style*="background-color: rgb(218, 218, 218)"],
.BackButtonShowShadow [style*=background-color],
.ConversationListItemReact:hover,
.PinBetterSave__Dropdown:hover,
.Typeahead li a:hover,
.Typeahead.userSelect .highlighted a,
.Typeahead.userSelect .socialConnectItem:hover,
.Typeahead.userSelect a:hover,
.eZS,
.fev[style*="background-color: rgb(210, 210, 210);"],
.hle,
.newsHubItem:focus,
.newsHubItem:hover,
button [style*="background-color: lightgray"],
button [style*="background-color: rgb(226, 226, 226)"] {
    background-color: var(--bgcontrol_hover) !important
}

.App .footerButtons .nonEuPrivacyPolicy,
.Button.footerIcon {
    background-color: var(--bgfooter_button) !important
}

.App .footerButtons .nonEuPrivacyPolicy:hover,
.Button.footerIcon:hover {
    background-color: var(--bgfooter_button_hover) !important
}

.YDx.MIw[style*="stroke: rgb(239, 239, 239)"] {
    stroke: var(--bgcontrol_border) !important
}

.erh.BR9 {
    color: var(--bgcontrol) !important
}

.odN {
    color: var(--bgcontrol_border) !important
}

.INd[style*="border: 2px solid white"],
.INd[style*=box-shadow] {
    box-shadow: none !important;
    border: none !important
}

[style*="linear-gradient(to left"] {
    background-image: linear-gradient(to left, transparent 0, var(--bg1) 90%) !important
}

[style*="linear-gradient(to right"] {
    background-image: linear-gradient(to right, transparent 0, var(--bg1) 90%) !important
}

.pinWrapper [style*="background-color: rgb(0, 0, 0); opacity: 0.3"] {
    opacity: 0 !important
}

.Pin.summary .pinWrapper::before {
    z-index: -1 !important;
    background: var(--bg2) !important
}

.pinSelectionBorder {
    border-color: rgba(255, 255, 255, .2) !important;
    box-shadow: none !important
}

.pinSelectionBorder.selected {
    border-color: #e60023 !important;
    box-shadow: none !important
}

[role=button] [style*="2px solid white"],
[style*="border-left: 1px solid rgb(216, 216, 216)"],
[style*="border-left:1px solid #d8d8d8"] {
    border-color: var(--bg1) !important
}

#pickerSearchField,
.HQE,
.KI_,
.MDo,
.Modal .formFooter,
.ReactModal__Content .formFooter,
.Typeahead.userSelect,
.Typeahead.userSelect li,
.fgH,
.newMessageContainer [style^="border: 2px solid rgb(239, 239, 239)"],
.qJc [style*="border: 1px solid rgb(142, 142, 142)"],
.qQ7,
.reactConversationWindow,
.reactNewMessageTypeahead .socialInboxTypeahead,
[data-test-id=add-comment] [style*=border],
[data-test-id=canonical-comment] [style*=border],
[style*="border-left: 1px solid rgb(245, 245, 245)"],
[style*="border-right: 1px solid rgb(245, 245, 245)"],
[style*="z-index: 670"] [style*=border] {
    border-color: var(--bgcontrol_border) !important
}

.icon.typingEmail>em {
    filter: invert(90%) !important
}

.BsF {
    background-color: #000 !important
}

input+.BsF {
    background-color: var(--bgcontrol_selected) !important
}

.qJc textarea {
    background-color: transparent !important
}

.qJc [style*="border: 2px dashed rgb(218, 218, 218)"] {
    border-color: var(--bgcontrol_selected) !important
}

.inModal .standardForm>h1,
.modalStyle .standardForm>h1 {
    color: var(--text1) !important;
    border-color: var(--bgcontrol_border) !important
}

.previewRowFullWidthItem {
    background-color: var(--bgcontrol) !important;
    border-color: var(--bg1) !important
}

.reactNewMessageTypeahead .inputContainer input {
    background-color: var(--bgcontrol) !important;
    color: var(--text1) !important
}

textarea:focus {
    outline-color: var(--text4) !important;
    color: var(--text2) !important
}

[data-test-id=closeup-image][style*=opacity] {
    opacity: .9 !important
}

.YDx.MIw * {
    border-color: var(--bgcontrol_border) !important;
    fill: var(--bgcontrol_border) !important
}

.pincodeCTA path {
    filter: invert(1) grayscale(1) !important
}

.BackButtonHideShadow,
.BackButtonShowShadow {
    animation: none !important
}

.NSs.Xsi,
.NSs.bPW,
.OGJ.Xsi,
.OGJ.bPW {
    background-color: rgba(255, 255, 255, .1)
}

.INd[style*="background-color: rgba"],
.dangerouslyDisableFocusStyle>[style*="background-color: rgba"] {
    background-color: rgba(255, 255, 255, .03) !important
}

[data-test-id=button-container]>[style*=border-left] {
    border-color: var(--bgheader_divider) !important
}

html {
    scrollbar-color: var(--scrollbar_thumb) var(--scrollbar_bg) !important
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: var(--scrollbar_bg) !important
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar_thumb) !important;
    -webkit-border-radius: 5px
}

::-webkit-scrollbar-corner {
    background: var(--scrollbar_corner) !important
}

.ShadowedAvatarWrapper {
    background-color: var(--bg1) !important;
    box-shadow: 0 0 0 5px var(--bg1) !important
}

.tokenContainer span {
    color: var(--bg1) !important
}

.Collection-Item [style*="background-color: rgb(255, 255, 255)"],
[data-grid-item=true] [style*="background-color: rgb(255, 255, 255)"] {
    background-color: var(--pincontrol) !important
}

.Collection-Item [style*="background-color: rgba(255, 255, 255, 0.9)"],
[data-grid-item=true] [style*="background-color: rgba(255, 255, 255, 0.9)"] {
    background-color: var(--pincontrol_hover) !important
}

.ReactModal__Overlay {
    background-color: var(--bg1alpha2) !important
}

.TextArea__textArea {
    color: var(--text1) !important;
    caret-color: var(--text1) !important
}

.hyC {
    background: 0 0 !important
}

.aKM {
    border-color: var(--input_border) !important
}

.aKM:hover:not(:focus) {
    border-color: var(--input_border_hover) !important
}

.unP:focus {
    border-color: var(--input_border_focus) !important
}

#searchBoxContainer [style*="background-color: rgb(225, 225, 225);"] {
    background-color: var(--bgsearchbox) !important
}

#searchBoxContainer [style*="background: rgb(216, 216, 216)"],
.SearchBoxDivider__Lego {
    background-color: var(--bgcontrol_border) !important
}

.NSs.bPW,
[data-test-id=pinrep-source-link][style*="background-color: rgb(255, 255, 255)"] {
    background-color: var(--bgpin_button) !important
}

.u97,
[data-test-id=pinrep-source-link][style*="background-color: rgba(255, 255, 255, 0.9)"] {
    background-color: var(--bgpin_button_alpha) !important
}