body {
    min-height: calc(100vh - 48px);
    line-height: 1;
    font-family: 'sys';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._1qeIAgB0cPwnLhDF9XSiJM {
    font-family: 'sys'
}

._2HCuqd3NYACKYaSTmrITE3,
._3-m5rOa3loUClNwpCv1uWU path,
.dDtEy,
.ra_3TRn5G7dbrfbhx8kYi._3aintJ344BVk82tG06NQea,
circle {
    fill: #00ee6f
}

.Post,
.Post:hover,
._1G4yU68P50vRZ4USXfaceV._2QeqBqfT5UbHBoViZUt-wX,
._2jJNpBqXMbbyOiGCElTYxZ,
.wBtTDilkW_rtT2k5x3eie {
    border-color: rgba(26, 26, 27, .8)
}

._12Ewyh01Y1cMPB3Ri_F1C4,
._1levonEFuP4txDjgWG4Akb,
._1vyLCp-v-tE5QvZovwrASa,
._2DJXORCrmcNpPTSq0LqL6i._26pbaCw90eAC80WRqUfICJ:after,
._3JDs8KEQIXSMn1bTF2ZqJ_,
._3ozFtOe6WpJEMUtxDOIvtU {
    background-color: #161616
}

._1wzhGvvafQFOWAyA157okr,
._3EQUXZqLRGK4Bf6TNN-vDG {
    border-color: #00ee6f !important;
    color: #00ee6f !important
}

._1rZYMD_4xY3gRcSS3p8ODO[style="color: rgb(255, 69, 0);"],
._3SUsITjKNQ7Tp0Wi2jGxIM.Z3lT0VGlALek4Q9j0ZQCr,
._3SUsITjKNQ7Tp0Wi2jGxIM._3edNsMs0PNfyQYofMNVhsG:hover,
.ceVbaV:hover,
.htPWFS {
    color: #00ee6f !important
}

._14IRbTHWqATJbFJ9PgPswU,
._1YxELUk4ufCJBs-VhKVmA6,
._2X6EB3ZhEeXCh1eIVA64XM._2hSecp_zkPm_s5ddV2htoj._1vh4u-B3eHXE3-ko0huS20,
._2hSecp_zkPm_s5ddV2htoj {
    background-color: #4b00ee !important
}

._14IRbTHWqATJbFJ9PgPswU {
    border-color: #00ee6f !important
}

._1YxELUk4ufCJBs-VhKVmA6.oKcz3mxVRK0Q74EoLhY- {
    box-shadow: inset 0 0 0 5px #00ee6f, inset 0 0 0 6px #fff, 0 0 0 .5px var(--newCommunityTheme-body) !important
}

._eYtD2XCVieq6emjKBH3m {
    font-family: DIN Next LT Pro
}

._1OVBBWLtHoSPfGCRaPzpTf._3nSp9cdBpqL13CqjdMr2L_ {
    width: 720px !important,
}

._3Oa0THmZ3f5iZXAQ0hBJ0k,
._3Oa0THmZ3f5iZXAQ0hBJ0k div,
._3Oa0THmZ3f5iZXAQ0hBJ0k div img,
.m3aNC6yp8RrNM_-a0rrfa {
    max-height: 100% !important
}

._23h0-EcaBUorIHC-JZyh6J,
._2L5G9B5yaoqW3IegiYN-FL,
._3hUbl08LBz2mbXjy0iYhOS {
    display: none !important
}

._1RYN-7H8gYctjOQeL8p2Q7 {
    padding-left: 0
}

.q4a8asWOWdfdniAbgNhMh {
    margin-top: 20px;
    background-color: #161616
}